.App {
    text-align: center;
}

h1 {
    text-align: center;
}

button {
    padding: 3px;
    align-content: center;
    margin: 10px;
    font-size: 25px;
}

.editor {
    display: flex;
    padding: 15px;
}
